Загружаем данные и с помощью команды raw_data.info() смотрим на типы данных представленных в DataFrame

In [27]:
%run ./src/data_loader.py # загружаем данные

In [28]:
raw_data.head(10) # смотрим первые 10 строк DataFrame

,Patient_ID,Age,Gender,BMI,Smoking_Status,Alcohol_Consumption,Physical_Activity_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Cholesterol_Level,Glucose_Level,Family_History,Genetic_Risk_Score,Previous_Diagnosis,Disease_Risk
0,P100000,69,Female,27.8,Never,NaN,Low,92,117,297,156,Yes,0.52,NaN,No
1,P100001,32,Female,32.0,Never,Moderate,Moderate,149,77,279,163,Yes,0.50,NaN,Yes
2,P100002,89,Male,24.2,Former,High,High,124,82,189,139,Yes,0.37,Diagnosed,No
3,P100003,78,Male,23.8,Never,NaN,Moderate,118,81,159,169,No,0.55,NaN,No
4,P100004,38,Male,29.8,Never,Moderate,Moderate,164,63,213,97,Yes,0.59,Pre-disease,No
5,P100005,41,Male,27.0,Never,NaN,Low,159,107,191,155,Yes,0.54,NaN,No
6,P100006,20,Female,26.7,Former,NaN,Moderate,172,70,242,187,No,0.35,NaN,No
7,P100007,39,Female,34.8,Never,NaN,Moderate,134,77,189,80,No,0.38,Pre-disease,No
8,P100008,70,Male,30.0,Never,High,Moderate,116,114,293,198,No,0.43,Diagnosed,No
9,P100009,19,Female,17.1,Never,Moderate,Low,158,107,274,138,No,0.63,NaN,No

In [29]:
print(raw_data.info()) # cмотрим на типы данных

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient_ID                4000 non-null   object
 1   Age                       4000 non-null   int64
 2   Gender                    4000 non-null   object
 3   BMI                       4000 non-null   float64
 4   Smoking_Status            4000 non-null   object
 5   Alcohol_Consumption       2361 non-null   object
 6   Physical_Activity_Level   4000 non-null   object
 7   Blood_Pressure_Systolic   4000 non-null   int64
 8   Blood_Pressure_Diastolic  4000 non-null   int64
 9   Cholesterol_Level         4000 non-null   int64
 10  Glucose_Level             4000 non-null   int64
 11  Family_History            4000 non-null   object
 12  Genetic_Risk_Score        4000 non-null   float64
 13  Previous_Diagnosis        1973 non-null   object
 14  Disease_Risk              4000 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 468.9+ KB
None

In [30]:
print(type(raw_data)) # переменная raw_data - DataFrame

<class 'pandas.core.frame.DataFrame'>

In [31]:
print("=== ИНФОРМАЦИЯ О ДАННЫХ ===") # основная информация
raw_data.info() 

print("\n=== ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ ===") # пропущенные значения
print(raw_data.isnull().sum())

print("\n=== ДУБЛИКАТЫ ===") # дубликаты
print(f"Количество дубликатов: {raw_data.duplicated().sum()}")

print("\n=== УНИКАЛЬНЫЕ ЗНАЧЕНИЯ ===") # уникальные значения в потенциальных категориальных колонках
categorical_cols = [
    'Gender', 'Smoking_Status', 'Alcohol_Consumption', 
    'Physical_Activity_Level', 'Family_History', 
    'Previous_Diagnosis', 'Disease_Risk'
]

for col in categorical_cols:
    print(f"{col}: {raw_data[col].unique()}")
    print(f"Пропусков: {raw_data[col].isnull().sum()}")
    print("---")

=== ИНФОРМАЦИЯ О ДАННЫХ ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient_ID                4000 non-null   object
 1   Age                       4000 non-null   int64
 2   Gender                    4000 non-null   object
 3   BMI                       4000 non-null   float64
 4   Smoking_Status            4000 non-null   object
 5   Alcohol_Consumption       2361 non-null   object
 6   Physical_Activity_Level   4000 non-null   object
 7   Blood_Pressure_Systolic   4000 non-null   int64
 8   Blood_Pressure_Diastolic  4000 non-null   int64
 9   Cholesterol_Level         4000 non-null   int64
 10  Glucose_Level             4000 non-null   int64
 11  Family_History            4000 non-null   object
 12  Genetic_Risk_Score        4000 non-null   float64
 13  Previous_Diagnosis        1973 non-null   object
 14  Disease_Risk              4000 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 468.9+ KB

=== ПРОПУЩЕННЫЕ ЗНАЧЕНИЯ ===
Patient_ID                     0
Age                            0
Gender                         0
BMI                            0
Smoking_Status                 0
Alcohol_Consumption         1639
Physical_Activity_Level        0
Blood_Pressure_Systolic        0
Blood_Pressure_Diastolic       0
Cholesterol_Level              0
Glucose_Level                  0
Family_History                 0
Genetic_Risk_Score             0
Previous_Diagnosis          2027
Disease_Risk                   0
dtype: int64

=== ДУБЛИКАТЫ ===
Количество дубликатов: 0

=== УНИКАЛЬНЫЕ ЗНАЧЕНИЯ ===
Gender: ['Female' 'Male' 'Other']
Пропусков: 0
---
Smoking_Status: ['Never' 'Former' 'Current']
Пропусков: 0
---
Alcohol_Consumption: [nan 'Moderate' 'High']
Пропусков: 1639
---
Physical_Activity_Level: ['Low' 'Moderate' 'High']
Пропусков: 0
---
Family_History: ['Yes' 'No']
Пропусков: 0
---
Previous_Diagnosis: [nan 'Diagnosed' 'Pre-disease']
Пропусков: 2027
---
Disease_Risk: ['No' 'Yes']
Пропусков: 0
---

In [35]:
%run ./src/data_preprocessing.py

=== ИНФОРМАЦИЯ О ДАННЫХ ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Patient_ID                4000 non-null   object
 1   Age                       4000 non-null   int32
 2   Gender                    4000 non-null   category
 3   BMI                       4000 non-null   float32
 4   Smoking_Status            4000 non-null   category
 5   Alcohol_Consumption       2361 non-null   category
 6   Physical_Activity_Level   4000 non-null   category
 7   Blood_Pressure_Systolic   4000 non-null   int32
 8   Blood_Pressure_Diastolic  4000 non-null   int32
 9   Cholesterol_Level         4000 non-null   int32
 10  Glucose_Level             4000 non-null   int32
 11  Family_History            4000 non-null   bool
 12  Genetic_Risk_Score        4000 non-null   float32
 13  Previous_Diagnosis        1973 non-null   category
 14  Disease_Risk              4000 non-null   bool
dtypes: bool(2), category(5), float32(2), int32(5), object(1)
memory usage: 168.7+ KB
None

'/Users/macbook/my_data_eng/itmo_project'